<div class="container margin-top">
    <div class="row margin-bottom">
        <h1 class="header-name">Shape Calculator</h1>
        <img src="assets\images\header_bg.gif" style="width:100%">
    </div>
    <div class="content col-lg-6 col-md-6 col-sm-6 margin-bottom">
        <h2>Welcome to the Shape Calculator</h2>
        <p>
            Shape Calculator is an interactive web application. To the right you will find the 3 step application. Follow the instructions in each step. Clicking cancel will take you back to step 1. Enjoy!
        </p>
        <p>
            A small river named Duden flows by their place and supplies it with the necessary regelialia. It is a paradisematic country, in which roasted parts of sentences fly into your mouth.
        </p>
        <p>
            Even the all-powerful Pointing has no control about the blind texts it is an almost unorthographic life One day however a small line of blind text by the name of Lorem Ipsum decided to leave for the far World of Grammar. The Big Oxmox advised her not
            to do so, because there were thousands of bad Commas.
        </p>
    </div>
    <div class="col-md-6 col-lg-6 col-sm-6 margin-bottom">
        <div class="col-md-8 col-lg-8 col-sm-8">
            <div class="well">
                <form [hidden]="!pageOne">
                    <p class="h2">
                        Step 1 : Select your shape
                    </p>
                    <p>
                        Please select the shape that you would like to calculate the area of and press the button "Go to step 2"
                    </p>
                    <div *ngFor="let shape of shapes" class="radio">
                        <label><input name="shapes" type="radio" (click)="checkedShape(shape.value)" value="shape.value" required>{{shape.name}}</label>
                    </div>
                    <p [hidden]="!shapeRequired" class="alert alert-danger">Please Select a Shape</p>

                    <button type="button" class="btn btn-lg btn-primary" (click)="goToPage(currentPage)">Go to Step 2</button> or <button type="button" class="btn btn-lg" (click)="goToPage(1)">Cancel</button>
                </form>
                <form [hidden]="!pageTwo">
                    <p class="h2">
                        Step 2 : Insert your Values
                    </p>
                    <p>
                        You have selected a {{selectedShape}}, please input the required variables.
                    </p>
                    <div [ngSwitch]="selectedVal">
                        <div *ngSwitchCase="1" class="form-group margin-bottom ">
                            <p [hidden]="!inputValidation" class="alert alert-danger">Please enter the variables</p>
                            <label>Height</label>
                            <input type="number" name="rectLength" class="form-control" [(ngModel)]="rectLength" required><br>
                            <label>Width</label>
                            <input type="number" name="rectWidth" class="form-control" [(ngModel)]="rectWidth" required>
                        </div>
                        <div *ngSwitchCase="2" class="form-group margin-bottom ">
                            <p [hidden]="!inputValidation" class="alert alert-danger">Please enter the variables</p>
                            <label>Diameter</label>
                            <input type="number" name="diameter" class="form-control" [(ngModel)]="diameter" required>
                        </div>
                        <div *ngSwitchCase="3" class="margin-bottom form-group">
                            <p [hidden]="!inputValidation" class="alert alert-danger">Please enter the variables</p>
                            <label>Width</label>
                            <input type="number" name="side" class="form-control" [(ngModel)]="side" required>
                        </div>
                        <div *ngSwitchCase="4" class="margin-bottom form-group">
                            <p [hidden]="!inputValidation" class="alert alert-danger">Please enter the variables</p>
                            <label>Height</label>
                            <input type="number" name="ellipLength" class="form-control" [(ngModel)]="ellipLength" required>
                            <label>Width</label>
                            <input type="number" name="ellipWidth" class="form-control" [(ngModel)]="ellipWidth" required>
                        </div>
                    </div>
                    <button type="button" class="btn btn-lg btn-primary" (click)="calculateArea(selectedVal)">Go to Step 3</button> or <button class="btn btn-lg" type="button" (click)="goToPage(1)">Cancel</button>
                </form>
                <form [hidden]="!pageThree">
                    <p class="h2">
                        Step 3 : Your Results
                    </p>
                    <p>
                        You have calculated the area of a {{selectedShape}}, with {{selectShapeText}}. Below is your result:</p>
                    <h3>Area is {{area}}.</h3>
                    <button type="button" class="btn btn-lg btn-primary" (click)="goToPage(1)">Start Over</button>
                </form>
            </div>
        </div>
        <div class="col-md-4 col-lg-4 col-sm-4">
            <img src="assets\images\120X240-ff.png" style="width:83%">
        </div>
    </div>
</div>